@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

html, body {
    
    font-family: 'Lato';
    font-weight: 400;
    font-size: 16pt;
    
    margin: auto;
    height: 100%;

}

body {
    
    background-color: #f2f2f2;
    
}

.hero_container {
    
    height: 100%; 
    width: 100%; 
    
    display: flex; 
    flex-flow: column; 
    margin: 0;
}

.hero_title {
    
    color: white;
    font-size: 65pt;
    font-weight: 700pt;
    
    padding-top: 70pt;
    text-align: center;
    
}

.content_container {
    
    width: 100%;
    background-color: white;
    
}

h1 {
    
    color: #2f2f2f;
    
}

.content {
    
    padding-top: 20pt;
    padding-bottom: 100pt;
    
}

.content p {
    
    text-indent: 20pt;
    width: 60%;
    text-align: left;
    color: #343434;
    
}
.top-margin {
    margin-top: 20px;
}

.navbar {
    background-color: #424242
}




