#hero-title {
    
    margin-top: -10pt;
    
    text-align: center;
    font-size: 56pt;
    
    width: 100%;
    
}

#hero-subtitle {
    
    margin: 15pt;
    margin-top: 50pt;
    margin-bottom: 15pt;
    
    text-align: center;
    font-size: 22pt;
    
}

#input-container {
    
    padding-top: 30pt;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

input {
    
    font-size: 18pt;
    color: white;
    
    padding: 12pt;
    
    margin-bottom: 15pt;
    width: 75%;
    
    outline: none;
    border-radius: 10pt;
    border-color: transparent;
    background-color: #393939;
    
}

.button-container {
    
    margin-top: 25pt;
    padding: 4pt;
    border-radius: 10pt;
    
    background: linear-gradient(to bottom right, #FF5A43, #C00040);
    
}

.button {
    
    padding: 15pt;
    padding-left: 45pt;
    padding-right: 45pt;
    
    border-radius: 6pt;
    
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    
    background-color: #191919;
    
    transition: background-color 0.3s;
    
}

.button-text {
    
    color: transparent;
    font-size: 23pt;
    
    background-image: linear-gradient(to bottom right, #FF5A43, #C00040);
    -webkit-background-clip: text;
    background-clip: text;
    
    transition: color 0.3s;
    
}

.button:hover {
    
    background-color: transparent;
    
}

.button:hover .button-text {
    
    color: #191919;
    
}

#learn-more-container {
    
    margin-bottom: 20pt;
    
}

#learn-more-text {
    
     font-size: 19pt;
    
}