html {
    
    overflow: hidden;
    
}

#overlay {
    
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    
    background-color: #191919;
    transition: opacity 1s;
    
    overflow: hidden;
    
}

#map-container {
    position: absolute;
    width: 100%;
    height: 100%;    
}

#not-overlay {
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: transparent;
}

#map-buttons {
    position: absolute;
    display: table;
    margin-top: auto;
    margin-bottom: auto;
    width: 25%;
    height: 10%;
    top: 0;
    left: 0;
    white-space: nowrap;
    background-color: transparent;
}

#see-stats-container {
     -webkit-appearance: none;
    position: absolute;
    display: table;
    width: 7%;
    height: 4%;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    left: 0;
    white-space: nowrap;
    background-color: transparent;
}

#dashboard-container {
     -webkit-appearance: none;
    position: absolute;
    display: table;
    width: 2%;
    height: 3.2%;
    margin-top: auto;
    margin-bottom: auto;
    top: 100%;
    left: 0;
    white-space: nowrap;
    background-color: transparent;
}

#visualize-container {
    position: absolute;
    display: table;
    width: 7%;
    height: 4%;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    left: 0;
    white-space: nowrap;
    background-color: transparent;
   
}

#sayings-container {
    
    margin-top: -83pt;
    width: 100%;
    
    overflow: hidden;
    text-align: center;
    
    position: relative;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    
}

#sayings {
    
    font-size: 36pt;
    text-align: center;
    
    width: 100%;
    height: 125pt;
    
    transform: translate3d(0, 0, 0);
    transition: transform 1.5s ease, opacity 1s;
    
    pointer-events: none;
    -webkit-user-select: none;
    user-select: none;
    
}

.saying-row {
    
    padding-bottom: 100pt;
    
}

#info-container {
    
    opacity: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    
    transition: opacity 1s;    
}

#results-title {
    
    margin-top: 20pt;
    margin-bottom: 20pt;
    
    text-align: center;
    font-size: 36pt;
    
    width: 100%;
    
}

#result-subtitle {
    
    font-size: 18pt;
    margin-bottom: 20pt;
    
}

#graphs-container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
}

#left-map-graphs {
    position: fixed;
    display: table;
    width: 25%;
    height: 33%;
    top: 30%;
    left: 0;
    z-index: 3;
}

#right-map-graphs {
    position: fixed;
    display: table;
    width: 25%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 3;
}

#tot {
    left: auto;
    top: auto;
    float: left;
}

#track {
    right: 95%;
    top: 0;
    float: right;
}

#curve {
    right: 95%;
    top: 25%;
    float: right;
}

#grade {
    right: 95%;
    top: 50%;
    float: right;
}

#length {
    right: 95%;
    top: 75%;
    float: right;
}

.fit-graphs {
    position: absolute;
    display: table;
    width: 15%;
    height: 10%;
    white-space: nowrap;
    background-color: transparent;
}

.small-fit-graphs {
    position: absolute;
    display: table;
    width: 15%;
    height: 4%;
    white-space: nowrap;
    background-color: transparent;
}

.graph-title {
    
    font-size: 15pt;
    margin: 10pt;
    
}

#see-graphs-text {
    font-size: 23.2px;
}



