#overlay {
    
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    
    
    
}

#saying {
    
    margin-top: -10pt;
    
    text-align: center;
    font-size: 56pt;
    
    width: 100%;
    
}